mixin ios-form-list-item (inputName, id)
    - var inputTag = 'ons-input';
    if attributes.tag
        - inputTag = 'ons-' + attributes.tag;

    - var inputType = 'text';
    if attributes.type
        - inputType = attributes.type
        
    - var placeholder = 'type any text...';
    if attributes.placeholder
        - placeholder = attributes.placeholder
            
    ons-list-item
        if inputTag === 'ons-input'
            ons-icon(icon="times-circle").input-cleaner
        label.center= inputName + ':'
        #{inputTag}(id=id placeholder=placeholder type=inputType).right.wide


mixin android-form-list-item (inputName, id)
    - var inputTag = 'ons-input';
    if attributes.tag
        - inputTag = 'ons-' + attributes.tag;

    - var inputType = 'text';
    if attributes.type
        - inputType = attributes.type

    ons-list-item
        if inputTag === 'ons-input'
            ons-icon(icon="times").input-cleaner
        #{inputTag}(placeholder=inputName id=id type=inputType float modifier="underbar").center.wide


mixin template (id, toolbarCenter, backButtonText, iosNextButtonText, nextButtonId, androidNextButtonIcon)
    - backButtonText = backButtonText || 'Main';
    - iosNextButtonText = iosNextButtonText || false;
    - androidNextButtonIcon = androidNextButtonIcon || 'md-plus';

    ons-template(id=id)
        ons-page(id=id)
            ons-toolbar
                if backButtonText
                    .left
                       ons-back-button= backButtonText
                .center= toolbarCenter
                if iosNextButtonText
                    .right
                        ons-if(platform="ios other")
                            ons-toolbar-button(id!=nextButtonId)= iosNextButtonText

            if block
                block

            if iosNextButtonText
                ons-if(platform="android")
                    ons-fab(position="bottom right" id!=nextButtonId)
                        ons-icon(icon=androidNextButtonIcon)


mixin game-tab-template(id)
    ons-template(id=id)
        ons-page(id=id)
            .card
                p
            img